<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise 1</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<div th:each="account : ${list}">
  <p  th:if="${account.king}">
  <p style="color:#FF0000" th:text="${list.indexOf(account)}
        + ' ' + ${account.name} + ' ' + ${#numbers.formatDecimal(account.balance,1,2)}
        + ' ' + 'Zebra' + ' ' +  ${account.animalType} + ' ' + (${account.badGuy}? 'bad guy' : 'good guy')">
  </p>
  </p>
  <p th:unless="${account.king}">
  <p th:text="${list.indexOf(account)} + ' ' + ${account.name}
        + ' ' + ${#numbers.formatDecimal(account.balance,1,2)}
        + ' ' + 'Zebra' + ' ' +  ${account.animalType} + ' ' + (${account.badGuy}? 'bad guy' : 'good guy')">
  </p>
  </p>
</div>
</body>
</html>