.idea
out
build
*.iml
*.xml
*.class

settings.gradle
.gradle
gradle
!gradle-wrapper.jar

tasks.csv

atvaltaskivagott.PNG
hexadecimalnumbers.PNG
redgreenblue.gif
atvaltasok.docx
hexadecimalatvaltas.PNG
pixel.PNG
rgbtohex.PNG

picturetomyfirstdemo1.PNG
picturetomyfirstdemo2.PNG
picturetomyfirstdemo3.PNG
picturetomyfirstdemo4.PNG
picturetomyfirstdemo5.PNG
picturetomyfirstdemo6.PNG
picturetomyfirstdemo7.PNG
picturetomyfirstdemo8.PNG
picturetomyfirstdemo9.PNG
