div{
  width: 300px;
  height: 80px;
  border: 1px solid #999;
  margin-bottom: 10px;
}

.black{
  background: #000;
  color: white;
}
.dark-gray{
  background: #333;
  color: white;
}
.medium-dark{
  background: #666;
}
.medium-light{
  background: #999;
}
.pale-gray{
  background: #ccc;
}

.bright-red{
  background: #f00;
}
.bright-green{
  background: #0f0;
}
.bright-blue{
  background: #00f;
}
.pale-red{
  background: #fcc;
}
.pale-green{
  background: #cfc;
}
.pale-blue{
  background: #ccf;
}
