<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reddit</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    </head>
    <body>
        <header></header>
        <main id="main_container">
            <div class="post_container">
                <span class="post_index_number">1</span>
                <div class="post_vote">
                    <div class="post_vote_up"></div>
                    <div class="post_vote_index">1200</div>
                    <div class="post_vote_down"></div>
                </div>
                <div class="post_info_container">
                    <p class="post_title">Placeholder Title</p>
                    <p class="post_date_and_name">subbmited 2 years ago by anonymus</p>
                    <ul class="post_edit_container">
                        <li class="post_modify">modify</li>
                        <li class="post_remove">remove</li>
                    </ul>
                </div>
            </div>
        </main>
	    <script src="reddit.js"></script>
    </body>
</html>
