<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Thymeleaf Exercise 1</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h1> TODOS FOR TODAY:</h1>
    <table>
      <tbody>
      <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
      </tr>
      <tr th:each="todo : ${todos}" >
        <td th:text="${todo.id}" style="border:1px solid darkgray;"></td>
        <td th:text="${todo.title}" style="border:1px solid darkgrey;"></td>
        <td th:text="${todo.isDone}" style="border:1px solid darkgrey;"></td>
        <td th:text="${todo.isUrgent}" style="border:1px solid darkgrey;"></td>
      </tr>
      </tbody>
    </table>
  </body>
</html>
